@media (max-width: 1400px){
.header-layout8 .logo-wrap{
    max-width: 400px;
}
}
@media (max-width: 1280px){
.header-layout8 .logo-wrap{
    max-width: 320px;
}
}
@media (max-width: 1199px){
    .header-layout7 .right-h3{
        flex-basis: auto;
    }
    .header-layout8 .logo-wrap{
        max-width: 100%;
    }
    .header-content .header-left-wrapper{
        min-width: 135px;
    }
body .kft-product-categories-shortcode:not(.layout-slider) .product-category-shortcode{
    padding-left: 15px;
    padding-right: 15px;
}

}
@media (max-width: 1024px) {
    .imgde.ver-img img{
        margin-top: 25px;
    }
    .woocommerce.single-product table.shop_attributes{
        max-width: 80%;
    }
    .cate-one-columns .kft-product-categories-shortcode .products{
        flex-flow: row;
        align-items: flex-end;
    }
    .kft-product-categories-shortcode:not(.layout-slider).layout-grid .product-category-shortcode{
        margin-bottom: 30px;
    }
    .order-cateone .kft-product-categories-shortcode .products{
    flex-direction: row-reverse;
    }
    body.header-overlap .site-header{
        position: relative;
    }
.header-layout10 .right-h3{
    flex-basis: 135px;
}
    .kft-header-search{
        display: none;
    }
    .header-content .header-left-wrapper{
        display: block;
    }
    .header-layout8 .right-h3{
        flex-basis: auto;
    }
    body .header-mobile-center .header-layout1 .header-content .kft-header-cart{
        flex:0;
    }
    .right-h3 .kft-header-search{
        display: none;
    }
    .right-h3{
        background: transparent;
        padding: 4px 0;
    }
    body .header-mobile-center .header-content .container .header-left-wrapper{
        flex:0;
    }
    .kft-shoppping-cart a.kft_cart:hover{
        width: auto;
    }
    .header-mobile-center .logo-wrap{
        flex: 1;
    justify-content: center;
    text-align: center;
    }
    body.kc-css-system .kc-css-981924 .scapt{

    }
    .kft-products-per-page{
        display: none;
    }
    .header-layout6 .header-right{
        flex: 1 0 0;
    }
    .header-layout1 .logo-wrap{
        text-align: center;
    }
    .sticky-header .kft-header-search {
        display: none;
    }
    .kft-product-categories-shortcode.layout-masonry .product-category-shortcode {
        width: 33.33%;
    }
    .header-layout4 .header-wishlist,
    .header-layout3 .social-sharing,
    .header-layout3 .kft-header-search,
    .header-layout5 .header-wishlist,
    .header-layout6 .header-wishlist,
    .header-layout5 .kft-header-search {
        display: none;
    }
    .navigation-wrapper,
    .header-content .container>.kft-header-search {
        display: none;
    }
    body .header-content .container .header-left-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    body .header-content .container-fuild .header-left-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    body .header-content .container .kft-header-cart {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        text-align: right;
    }
    .top-bar-left {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        text-align: center;
    }
    .top-bar-right {
        display: none;
    }
    .sticky-header .header-left-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
    }
    .sticky-header .header-account {
        display: none;
    }
    .sticky-header .logo-wrap {
        width: 25%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .sticky-header .kft-header-cart {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        width: 20%;
        padding: 0 15px;
        text-align: right;
    }
    body .header-mobile-left .container .header-left-wrapper {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
        padding-right: 20px;
    }
    body .header-mobile-right .container .header-left-wrapper {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
        padding-left: 20px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .woocommerce div.product form.cart .group_table td {
        padding: 15px 5px 0px 5px;
        vertical-align: middle;
    }
    .woocommerce div.product form.cart .group_table td.label label {
        padding: 5px;
    }

    .woocommerce div.product form.cart .group_table td.label {
        line-height: 24px;
    }

    .woocommerce div.product form.cart .group_table td:last-child {
        width: 90px;
    }

    .woocommerce div.product form.cart .group_table td.label label {
        padding: 5px 0;
        line-height: 20px;
    }
    .kft-products-tabs {
        margin-top: 60px;
    }
    body .kft-products-tabs .tabs-header {
        top: -100px;
    }
    .kft-products-tabs .owl-nav {
        top: -94px;
    }
    .woocommerce div.product form.cart .reset_variations {
        right: 0;
    }
    .woocommerce nav.woocommerce-pagination {
        margin-bottom: 10px;
    }
}

@media (max-width: 991px) {
    .kft-mailchimp-shortcode.style-5 .mc4wp-form>div{
        justify-content: center;
            -webkit-box-pack: center;
    -ms-flex-pack: center;
    }
    .vertical-product-tabs .delivery{
        width: 100%;
    }
    .kft-show-sidebar-button + .woocommerce-ordering{
        display: none;
    }
    .woocommerce .grid_list_nav{
        justify-content: flex-end;
    }

    div.absolute.text{
        position: static;
    }
    .kc_row .kc_tabs>.kc_wrapper>.kc_tabs_nav{
            display: flex;
    flex-flow: row wrap;
    text-align: center;
    }
    .kc_row .kc_tabs_nav>li{
        float: none;
        margin:0 auto;
    }
    .woocommerce .woocommerce-ordering .orderby ul, .woocommerce-page .woocommerce-ordering .orderby ul{
        left: auto;
        right: 0;
    }
    .kft-mailchimp-shortcode.style-1{
        padding: 20px 25px 16px;
    }
    ul.social-sharing-blog:before{
        width: 60%;
    }
    .cookie-wrapper {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        text-align: center;
    }
    .mipro-cookie-notice .cookie-text {
        padding-bottom: 10px;
    }
    .comments-area .children>.depth-3 .children {
        margin-left: 0;
    }
    .woocommerce-tabs #review_form_wrapper {
        width: 100%;
        padding-left: 0;
        border-left: none;
    }
    .kft-product-categories-shortcode.layout-masonry .product-category-shortcode {
        width: 50%;
    }
    .woocommerce-tabs #comments {
        width: 100%;
    }
    .kft-show-sidebar-button {
        display: block;
    }
    .off-canvas-shop-sidebar .woocommerce-ordering,
    .off-canvas-shop-sidebar .woocommerce-result-count,
    .kft-filters-button {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        width: 50%;
        margin-bottom: 10px;
    }
    .kft-filters-button {
        text-align: right;
    }

    .woocommerce .woocommerce-result-count {
        margin-bottom: 10px;
    }
    .woocommerce .woocommerce-ordering,
    .woocommerce .woocommerce-result-count {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .off-canvas-shop-sidebar .close-sidebar {
        display: block;
    }
    body.show-shop-sidebar .kft-close-popup {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity .25s ease, visibility 0s ease;
        transition: opacity .25s ease, visibility 0s ease;
    }
    body.show-shop-sidebar .shop-sidebar {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        overflow-y: auto;
        padding: 20px;
    }
    .off-canvas-shop-sidebar .shop-sidebar {
        position: fixed;
        width: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
        background-color: #fff;
        z-index: 500;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
        -webkit-transition: transform .25s ease;
        -webkit-transition: -webkit-transform .25s ease;
        transition: -webkit-transform .25s ease;
        transition: transform .25s ease;
        transition: transform .25s ease, -webkit-transform .25s ease;
        transition: transform .25s ease, -webkit-transform .25s ease;
        transform: translate3d(-300px, 0, 0);
        -webkit-transform: translate3d(-300px, 0, 0);
    }
    .woocommerce-page .woocommerce-ordering .orderby-title {
        display: none;
    }
    .product_thumbnails {
        width: 99%;
    }
    .kft-pagination {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .woocommerce div.product .woocommerce-tabs ul.tabs li{
        margin-bottom: 15px;
    }
    
    .woocommerce div.product .woocommerce-tabs ul.tabs li:first-child{
        margin-left: 15px;
    }

    .blog-post-default .entry-footer>.cats-link,
    .blog-post-default .entry-footer>.tags-link {
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
    }
    body.woocommerce div.product form.cart table.group_table td,
    .woocommerce div.product form.cart .group_table td:nth-child(2) {
        width: 100% !important;
        text-align: left !important;
    }
    .woocommerce div.product form.cart .group_table td:nth-child(2) {
        padding: 15px 0;
    }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs li,
    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        width: 100%;
    }
    .header-layout1 .logo-wrap,
    .header-layout2 .logo-wrap,
    .header-layout3 .logo-wrap {
        flex: 1;
        text-align: center;
    }
    .woocommerce.columns-3 .kft-products,
    .woocommerce.columns-4 .kft-products {
        width: 50%;
    }
    .breadcrumb-layout2 .breadcrumb-title-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .product-images-wrapper {
        float: none;
        width: 100%;
        left: auto;
        right: auto;
    }
    .product-image-summary>.product {
        margin-left: auto;
        margin-right: auto;
    }
    .product-gallery ul.product_thumbnails,
    .product-gallery>.thumbnails .owl-carousel .owl-stage-outer,
    .woocommerce #content div.product div.thumbnails a,
    .woocommerce div.product div.thumbnails a,
    .woocommerce-page #content div.product div.thumbnails a,
    .woocommerce-page div.product div.thumbnails a,
    .pp_woocommerce div.product div.images-slider-wrapper,
    .woocommerce .pp_woocommerce div.product div.images-slider-wrapper,
    .woocommerce-page .pp_woocommerce div.product div.images-slider-wrapper {
        width: 100%;
    }
    .woocommerce #content div.product div.thumbnails .owl-controls,
    .woocommerce div.product div.thumbnails .owl-controls,
    .woocommerce-page #content div.product div.thumbnails .owl-controls,
    .woocommerce-page div.product div.thumbnails .owl-controls {
        display: none;
    }
    .woocommerce #content div.product div.product-gallery,
    .woocommerce div.product div.product-gallery,
    .woocommerce-page #content div.product div.product-gallery,
    .woocommerce-page div.product div.product-gallery,
    .woocommerce #content div.product div.summary,
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce-page div.product div.summary,
    .pp_woocommerce div.product div.summary {
        width: 100%;
        padding: 0;
    }
    .woocommerce #content div.product div.product-gallery,
    .woocommerce div.product div.product-gallery,
    .woocommerce-page #content div.product div.product-gallery,
    .woocommerce-page div.product div.product-gallery {
        float: none;
        margin-bottom: 30px;
    }
    .comment-body {
        margin-left: 0px;
    }
    .footer-bottom {
        text-align: center;
    }
    .footer-bottom .alignright {
        float: none;
    }
    .footer-single-post {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer-single-post>div,
    .footer-single-post .tags-link {
        text-align: center;
    }
    .footer-single-post .social-sharing {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 767px){
    .imgde img{
        margin-top: 25px;
    }
    .column-revese .kc-wrap-columns{
        display: flex;
        flex-flow: column-reverse wrap;
    }
    .woocommerce .product-style-shortcode.is-overlay div.product div.images{
            max-height: 100%;
    max-width: 100%;
    }
    body .product-style-shortcode.is-overlay .product{
        max-width: 70% !important;
    }
    .detail-des >div{
        width: 100%;
    }
    .delivery{
        width: 100%;
        margin:0 auto;
    }
    .kft-mailchimp-shortcode.style-1{
        float: none;
        margin:0 auto;
    }
    p.sent2{
        margin-bottom: 30px;
    }
}
@media (max-width: 667px){
       .cate-one-columns .kft-product-categories-shortcode .products{
        flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    }
    body .kft-product-categories-shortcode .products >.product.product-category-shortcode:last-child{
        margin-left: 0 !important;
    }
    .kft-blogs-shortcode .blogs article .entry-header{
        flex-basis: 100% !important;
    }
}
@media (max-width: 600px) {
    .header-layout9 .header-wishlist{
        display: none;
    }
    body .kft-instagram-shortcode .widgettitle:before{
        position: static;
        padding-right: 10px;
        font-size: 22px;
    }
    body .kft-instagram-shortcode .widgettitle{
        background: transparent;
        position: static;
        font-size: 24px;
        transform: translate(0);
        padding: 0;
    }
    body .kft-instagram.columns-4 .item {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        width: 50%;
        margin-bottom: 20px;
    }
    .mipro_product_sticky .container .price {
        display: none;
    }
    .is-sticky.sticky-header {
        top: 0
    }
    .woocommerce .products.list .product {
        flex-direction: column;
    }
    .woocommerce .products.list .product .item-information {
        border: 1px solid #ebebeb;
    }
}

@media (max-width: 480px) {
    .woocommerce .woocommerce-ordering, 
    .woocommerce .woocommerce-result-count{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    }
    .kc_row .kc_tabs.no-margin-bot>.kc_wrapper>.kc_tabs_nav{
        margin-top: 5px;
    } 
    .kc_row .kc_tabs.no-margin-bot>.kc_wrapper>.kc_tabs_nav >li{
        margin-bottom: 15px;
    }
    body .product-style-shortcode.is-overlay .product{
        max-width: 100% !important;
    }
    .single-post .info-category .comment-count{
        margin-right: auto;
        margin-top: 10px;
    }
    .single-post .info-category{
        justify-content: center;
    }
    .site-content article.blog-post-default.has-post-thumbnail:not(.format-gallery) .entry-content{
            padding-left: 0;
    margin-top: 15px;
    }
    .header-content .header-left-wrapper{
        min-width: unset;
    }
    body .product-style-shortcode.is-overlay .product{
        max-width: 100%;
    }
    .site-content article.blog-post-default.has-post-thumbnail:not(.format-gallery) .entry-header{
        padding-right: 0;
    }
    .site-content article.blog-post-default.has-post-thumbnail:not(.format-gallery) .entry-header, .site-content article.blog-post-default.has-post-thumbnail:not(.format-gallery) .entry-content{
        width: 100%;
    }
    .site-content article.blog-post-default.has-post-thumbnail:not(.format-gallery){
        flex-wrap: wrap;
    }
    .kft-feature-box.image{
        float: none;
    }
    .shop-bread-cate{
        flex-wrap: wrap;
    }
    .shop-bread-cate .breadcrumbs{
        margin-bottom: 10px;
    }
    .woocommerce .products.list .product .images{
        max-width: 100%;
    }
    .right-h3{
        padding: 4px 0;
    }
    .kc_row .kc_tabs>.kc_wrapper>.kc_tabs_nav{
    margin-top: 60px;
}
    body .kft-product-categories-shortcode:not(.layout-slider) .product-category-shortcode{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    ul.social-sharing-blog:before{
        width: 0;
    }
    .woocommerce.columns-3 .kft-products,
    .woocommerce.columns-4 .kft-products {
        width: 100%;
    }
    .woocommerce .woocommerce-ordering .orderby ul, .woocommerce-page .woocommerce-ordering .orderby ul{
        left: 0;
        right: auto;
    }
}
@media (max-width: 375px) {
body .kft-instagram.columns-4 .item{
    margin-bottom: 0;
}
}